#nav-col
{
    flex-shrink: 0;
    width: 32%;
    max-width: 220px;
    padding: 0px;
    /* padding-right: calc(var(--bs-gutter-x)* .5); */
    /* padding-left: calc(var(--bs-gutter-x)* .5); */
    
}


