

<div class="container">
{% include '_messages.html' %}

<div class="row mb-3">
    
    <div class="col-md-3">
        <div class="card border-0 border-bottom rounded-3 mb-5">
            <div class="card-body p-3 shadow-sm ">
                <h6 class=" d-flex border-3 py-2 bg-danger-subtle fw-bold w-auto justify-content-center rounded-3">{{ total_boys }}</h6>
                <p class="mb-0 " style="font-size: 0.9rem;">Total Boys</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-0 border-bottom rounded-3">
            <div class="card-body p-3 shadow-sm ">
                <h6 class=" d-flex border-3 py-2 bg-danger-subtle fw-bold w-auto justify-content-center rounded-3">{{ total_girls }}</h6>
                <p class="mb-0 " style="font-size: 0.9rem;">Total Girls</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-0 border-bottom rounded-3">
            <div class="card-body p-3 shadow-sm ">
                <h6 class=" d-flex border-3 py-2 bg-danger-subtle fw-bold w-auto justify-content-center rounded-3">{{ total_students }}</h6>
                <p class="mb-0 " style="font-size: 0.9rem;">Total Student</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-0 border-bottom rounded-3">
            <div class="card-body p-3 shadow-sm ">
                <h6 class=" d-flex border-3 py-2 bg-danger-subtle fw-bold w-auto justify-content-center rounded-3">{{pending_leave}}</h6>
                <p class="mb-0 " style="font-size: 0.9rem;">Pending Leave</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-0 border-bottom rounded-3">
            <div class="card-body p-3 shadow-sm ">
                <h6 class=" d-flex border-3 py-2 bg-danger-subtle fw-bold w-auto justify-content-center rounded-3">{{total_count}}</h6>
                <p class="mb-0 " style="font-size: 0.9rem;">Pending Fees</p>
            </div>
        </div>
    </div>
</div>

</div>
